---
import "../styles/global.css";

const {
  title = "Keysar Cosmetics",
  description = "Masajes y tratamientos faciales premium diseñados para realzar tu belleza desde el equilibrio, la calma y el detalle.",
} = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{title}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      href="https://fonts.googleapis.com/css2?family=Afacad:wght@400;500;600;700&family=Libre+Baskerville:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <slot />
  </body>
</html>
